<div *ngIf="isLoading">
  <p>Loading questions...</p>
</div>

<div *ngIf="!isLoading && questions.length > 0">
  <div>
    <h3>Question {{ currentQuestionIndex + 1 }}:</h3>
    <p [innerHTML]="questions[currentQuestionIndex]?.question"></p>
  </div>
  <div *ngFor="let option of questions[currentQuestionIndex]?.options">
    <button (click)="checkAnswer(option)">{{ option }}</button>
  </div>
</div>

<div *ngIf="!isLoading && questions.length === 0">
  <p>No questions available. Please try again later.</p>
</div>
